DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DISCORD_REMINDER_CHANNEL_ID=
DISCORD_REMINDER_ROLE_ID=
DISCORD_ROSTER_USER_MAP_JSON={"shekel":"","dj":"","hollow":"","basri":""}
ROSTER_SYNC_TOKEN=
ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
