<app-header></app-header>

<div *ngIf="status == 'pending' && isLoading" class="gif-container">
    <mat-progress-spinner class="spinner" [mode]="mode">
    </mat-progress-spinner>
    <img src="Taiyakis_Api.gif">
</div>

<div *ngIf="status == 'error'" class="not-found-container">
    <p>API is deadge, sry</p>
    <img src="Deadge.png">
</div>

<app-raid-info [rosters]="rostersData"></app-raid-info>
<app-roster id="goTop" [rosters]="rostersData"></app-roster>

<a href="#goTop" *ngIf="showTopButton">
    <button mat-icon-button class="go-to-top">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</a>